{% extends 'templates/app.twig' %}

{% block content %}
<div id="manage_users">
	<h3>Gerenciar Usu치rios</h3>

	<div class="row">
		<div class="col-md-4">
			<form class="form" method="post" action="{{ path_for('admin.users.add') }}">
				<div class="form-group">
					<label>Nome</label>
					<input type="text" name="name" class="form-control">
				</div>

				<div class="form-group">
					<label>Usu치rio</label>
					<input type="text" name="user" class="form-control">
				</div>

				<!-- <div class="checkbox">
					<label>
						<input type="checkbox">
						Alterar a Senha
					</label>
				</div> -->

				<div class="form-group">
					<label>Senha</label>
					<input type="password" name="password" class="form-control">
				</div>

				<button type="submit" class="btn btn-primary">Salvar</button>
				<button type="reset" class="btn btn-default">Limpar</button>
			</form>
		</div>
		<div class="col-md-8">
			<h4>Usu치rios:</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Usu치rio</th>
						<th>Acesso Admin</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					{% set row_logged = auth.user.id == user.id %}
					<tr id="row_{{ user.id }}" data-id="{{ user.id }}">
						<td>{{ user.id }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.user }}</td>
						<td>
							<input type="checkbox"{{ user.admin ? ' checked' }}{{ row_logged ? ' disabled' }}>
						</td>
						<td>
							<a class="btn btn-warning" href="#"><i class="fa fa-edit"></i></a>
						</td>
						<td>
							<a onclick="return confirm('Tem Certeza que deseja excluir? OK para confirmar.');" href="{{ path_for('admin.users.del', { user_id: user.id}) }}" class="btn btn-danger"{{ row_logged ? ' disabled' }}><i class="fa fa-trash"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}